.row
  .col-xs-12.col-sm-8
    %h1
      = @event.name
  .col-xs-12.col-sm-4
    %h1
    =link_to preview_event_path(@event) do
      .btn.btn-info
        Generate Web Preview
%h3
  = @event.event_date.strftime("%B %d, %Y")
  at
  = @event.event_date.strftime("%I:%M %p")

%p
  = @event.description

%br

%h4 
  Parcipants
  ="(#{@participants.count})"
%hr
-@participants.each do |participant|
  %p
    = link_to participant.name, event_participant_path(@event.id, participant.id)
  %hr

= link_to 'Edit', edit_event_path(@event)
\|
= link_to 'Back', events_path
\|
= link_to 'Create New Participant', new_event_participant_path(@event.id)