%h1
  = @event.name
%h3
  = @event.event_date.strftime("%B %d, %Y")
  at
  = @event.event_date.strftime("%I:%M %p")

%p
  = @event.description

%br

%h4 
  Parcipants
  ="(#{@participants.count})"
%hr
-@participants.each do |participant|
  %p
    = link_to participant.name, event_participant_path(@event.id, participant.id)
  %hr

= link_to 'Edit', edit_event_path(@event)
\|
= link_to 'Back', events_path
