.row
  .col-xs-12.col-sm-6
    %h1
      = @event.name
  .col-xs-12.col-sm-2
    %h1
    =link_to preview_event_path(@event) do
      .btn.btn-info
        Generate Preview
  .col-xs-12.col-sm-2
    %h1
    =link_to invite_list_event_path(@event) do
      .btn.btn-success
        Generate Invites
  .col-xs-12.col-sm-2
    %h1
    =link_to invited_event_path(@event) do
      .btn.btn-default
        See Already Invited
%h3
  = @event.event_date.strftime("%B %d, %Y")
  at
  = @event.event_date.strftime("%I:%M %p")

%p
  = @event.description

%p
  %h4 Venue Location:
  -if @event.venue.blank?
    52nd Fl. Multi Media Room, 1515 Broadway, New York, NY, 10036
  -else
    = @event.venue
%br

%h4 
  Parcipants
  ="(#{@participants.count})"
%hr
%table.table.table-striped
  %thead
    %tr
      %th Image
      %th Name
      %th Title
      %th Division
      %th Biography
      %th
      %th
      %th
  -@participants.each do |participant|
    %tbody
      %tr
        %td= image_tag(participant.avatar.url, class:"img-responsive", style:"max-width:30px;")
        %td= participant.name
        %td= participant.title
        %td= participant.division
        %td= participant.biography
        %td= link_to 'Show', event_participant_path(participant.event_id, participant)
        %td= link_to 'Edit', edit_event_participant_path(participant.event_id, participant)
        %td= link_to 'Destroy', event_participant_path(participant.event_id,participant.id ), :method => :delete, :data => { :confirm => 'Are you sure?' }


= link_to 'Edit', edit_event_path(@event)
\|
= link_to 'Back', events_path
\|
= link_to 'Create New Participant', new_event_participant_path(@event.id)
\|
= link_to generate_csv_event_path(@event, format: :csv) do
  .btn.btn-warning
    Download CSV list