!!!
%html
  %head
    %meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    = stylesheet_link_tag 'emails'
  %body
    .row{style:"border: 1px solid lightgrey;"}
      .col-xs-12
        .text-center
          .blue-header
            %h2.blue-font.no-margin CEO MONTHLY BREAKFAST SERIES
            %h3.no-margin 
              %i.dark-font Hosted By Philippe Dauman

      .col-xs-12.text-center
        %h4.red-font
          %i.red-font="#{@name}," 
          you are cordially invited to breakfast with President and CEO Philippe Dauman
        %p 
          A monthly breakfast series initiated by Philippe for employees across Viacom
        %h4
          = @event.event_date.strftime("%B %d, %Y")
        %p
          %i= @event.event_date.strftime("%I:%M %p")
          %i Sharp
          %br
          -if @event.venue.blank?
            52nd Fl. Multi Media Room, 1515 Broadway, New York, NY, 10036
          -else
            =@event.venue
        %br
        %p
          =link_to "#{root_url}events/#{@event.id}/participants/new?invite_email=#{@email}&invite_name=#{@name}", class: "btn btn-info white-font email-btn" do
            Click to Participate
        %br
        %p
          Thanks,
          %br
          Office of Global Inclusion